html {
  word-break: break-word;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 14px;

  .MuiButton-sizeMedium {
    min-width: 100%;
  }
}



@media (min-width: 600px) { // sm
  html .MuiButton-sizeMedium  {
    min-width: 20rem;
  }
}